/* start variables  */
:root {
  --main-color: rgba(0, 0, 0, 0.88);
  --secondary-color: rgb(53, 116, 54);
}
/* end variables  */

/* start global rules  */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
li {
  list-style-type: none;
}
.wrapper {
  margin: 0 auto;
  padding: 0 60px;
}

@media (width >= 768px) {
  .wrapper {
    width: 750px;
  }
}
@media (width >= 992px) {
  .wrapper {
    width: 970px;
  }
}
@media (width >= 1200px) {
  .wrapper {
    width: 1170px;
  }
}
/* end global rules  */

/* start header  */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .wrapper .logo a {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  font-family: "Lakki Reddy", cursive;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 20px 0;
}

header .wrapper nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
header .wrapper nav .bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 3px;
}

header .wrapper nav span {
  display: block;
  height: 2px;
  background-color: var(--main-color);
  cursor: pointer;
}
header .wrapper nav span:first-child {
  width: 35px;
}
header .wrapper nav span:nth-child(2) {
  width: 20px;
}
header .wrapper nav span:last-child {
  width: 25px;
}
header .wrapper nav .links {
  position: absolute;
  display: flex;
  top: -20px;
  left: 45%;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  opacity: 0;
  z-index: -1;
  transition: 0.3s;
}
header .wrapper nav .bars:hover + .links {
  opacity: 1;
  z-index: 1;
}
@media (width <= 797px) {
  header .wrapper nav .links {
    display: block;
    top: 20px;
  }
}

@media (width <= 991px) {
  header .wrapper nav .links {
    left: 20%;
  }
}

header .wrapper nav .links li {
  padding: 8px 14px;
}
header .wrapper nav .links a {
  display: block;
  text-decoration: none;
  font-size: 1em;
  color: var(--main-color);
  transition: 0.4s;
}
header .wrapper nav .links a:hover {
  color: var(--secondary-color);
}
/* end header  */

/* start landing  */
.landing {
  position: relative;
  height: 100vh;
  background-image: url(../Images/landing.webp);
  background-size: cover;
  background-position: center;
}

.landing .wrapper {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-areas: "main-content preview";
  grid-template-columns: 1fr 250px;
  gap: 140px;
}
@media (width <= 991px) {
  .landing .wrapper {
    grid-template-areas: "main-content";
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.landing .wrapper .main-content {
  grid-area: main-content;
  display: flex;
  flex-direction: column;
}

@media (width <= 991px) {
  .landing .wrapper .main-content {
    gap: 20px;
  }
}
.landing .wrapper .main-content .heading > h1 {
  color: white;
  margin: 0;
  font-family: "Lakki Reddy", cursive;
  word-spacing: 0.2em;
  letter-spacing: 0.15em;
  font-size: 2.8em;
  text-shadow: 4px 1px 6px black;
}
@media (width <= 797px) {
  .landing .wrapper .main-content .heading > h1 {
    line-height: 2;
    font-size: 1.9em;
  }
}
.landing .wrapper .main-content .heading > h1:nth-child(2) {
  margin: 0 0 0 80px;
}
@media (width <= 1199px) {
  .landing .wrapper .main-content .heading > h1:nth-child(2) {
    margin: 0 0 0 20px;
  }
}
.landing .wrapper .main-content .heading > h1:nth-child(3) {
  width: fit-content;
  margin: 0 auto;
}
.landing .wrapper .main-content .suggest {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 50px 0;
}
.landing .wrapper .main-content .suggest p {
  max-width: 190px;
  color: white;
  font-size: 1em;
  line-height: 1;
  letter-spacing: 0.1em;
  opacity: 0.9;
}

@media (width <= 797px) {
  .landing .wrapper .main-content .suggest {
    align-items: center;
    justify-content: center;
    margin: 0 0 40px 0;
  }
  .landing .wrapper .main-content .suggest p {
    text-align: center;
  }
}
.landing .wrapper a:not(.link) {
  display: block;
  width: fit-content;
  text-decoration: none;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
  background: rgb(53, 116, 54, 0.5);
  box-shadow: 1px 3px 4px black;
  transition: 0.3s;
}

.landing .wrapper a:not(.link):hover {
  background: rgb(53, 116, 54, 0.8);
}

.landing .wrapper .main-content .stories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.landing .wrapper .main-content .stories .link {
  text-decoration: none;
  font-family: "Lakki Reddy", cursive;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: white;
  text-shadow: 2px 2px 2px black;
  align-self: flex-end;
}
@media (width <= 797px) {
  .landing .wrapper .main-content .stories .link {
    align-self: center;
  }
}

.landing .wrapper .main-content .stories .link:hover i {
  transform: translateX(5px);
}

.landing .wrapper .main-content .stories .link i {
  font-size: 0.8em;
  margin: 0 0 0 8px;
  transition: 0.3s;
}
.landing .wrapper .main-content .stories .cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing .wrapper .main-content .stories .cover img {
  width: 123px;
  height: 170px;
  border-radius: 8px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: 0.3s;
}
@media (width <= 1199px) {
  .landing .wrapper .main-content .stories .cover img {
    width: 95px;
    height: 130px;
  }
}

.landing .wrapper .main-content .stories .cover img:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
}

@media (width <= 797px) {
  .landing .wrapper .main-content .stories .cover img:last-child {
    display: none;
  }
}

.landing .wrapper .preview {
  grid-area: preview;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
@media (width <= 991px) {
  .landing .wrapper .preview {
    display: none;
  }
}
.landing .wrapper .preview img {
  width: 100%;
  max-height: 60%;
  border-radius: 8px;
  box-shadow: 2px 2px 9px black;
  cursor: pointer;
}

.landing .wrapper .preview p {
  color: white;
  width: 100%;
  font-size: 0.9em;
  line-height: 1;
  letter-spacing: 0.1em;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
